.header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color:white;
}
.header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    width: 30%;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}