.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
}

.weekh3{
    position: absolute;
    top: -40px;
    margin:0;
}

.week{
    position:relative;
}