*{
    --bg: white;
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/7);
    height: calc(100%/6);
    box-shadow: inset 0px 0px 10px black, 0 0 10px black;
    margin: 0;
    background-color: var(--bg);
    color: var(--bg-reverse)
}

.container h1{
    margin: 0;
    position:absolute;
    top:5%;
    left:5%;
    font-size: 1vw;
}

.container h2{
    margin: 0;
    font-size: 1.5vw;
}

.container h4{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin: 0;
    padding:0;
    position:absolute;
    bottom: 0;
    left:0;
    font-size: 0.75vw;
}

.container:hover {
    transition: 0.5s;
    filter: invert(100%)
}

.greenBox {
    position: absolute;
    top:5%;
    right:5px;
    background-color: rgb(165, 238, 165);
    width:1vw;
    height:1.5vh;
    border-radius: 100%;
    margin: 0;
}